.bigframe{
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

/*frame*/
  /*.sfbaseframe0{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -110px;
    opacity: 0.3;
    transform: scale(2,2);
    transform-origin: center;
  }*/
  /*.spbs0mv{
    animation: spbs0pss 1.2s linear infinite;
  }*/
  .shakemv {
    animation: shakeprss 0.2s;
  }

  @keyframes shakeprss {
    0% {
      transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
      transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
      transform: translate3d(10px, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }



  @keyframes spbs0pss {
    0%{
      transform: scale(0.1,0.1);
      top: 50%;
    }
    5%{
      top: 35%;
    }
    10%{
      top: 27.5%;
    }
    15%{
      top: 23%;
    }
    20%{
      top: 21%;
    }
    25%{
      top: 20%;
    }
    30%{
      top: 21%;
    }
    35%{
      top: 23%;
    }
    40%{
      top: 27.5%;
    }
    45%{
      top: 35%;
    }
    50%{
      transform: scale(2,2);
      top: 50%;
    }
    55%{
      top: 35%;
    }
    60%{
      top: 27.5%;
    }
    65%{
      top: 23%;
    }
    70%{
      top: 21%;
    }
    75%{
      top: 20%;
    }
    80%{
      top: 21%;
    }
    85%{
      top: 23%;
    }
    90%{
      top: 27.5%;
    }
    95%{
      top: 35%;
    }
    100%{
      color: white;
      top: 50%;
      transform: scale(0.1,0.1);
    }

  }



  /*bases*/
  .sfpfbase0{
    position: absolute;
    background-color: green;
    width: 90px;
    height: 3px;
    top: 0px;
    left: 0px;
  }
  .sfpfbase01{
    position: absolute;
    background-color: green;
    width: 78px;
    height: 3px;
    top: 0px;
    left: 0px;
  }

  .sfpfbase1{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 54px;
  }
  .sfpf1 {
    top: 0px;
    left: 0px;
  }
  .sfpf2 {
    top: 0px;
    left: 84px;
  }


  .sfpfbase2{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 51px;
  }
  .sfb21{
    top: 39px;
    left: 21px;
    transform: rotate(-60deg);
  }
  .sfb22{
    top: 39px;
    left: 63px;
    transform: rotate(60deg);
  }
  .sfb23{
    top: -45px;
    left: 42px;
  }


  .sfpfbase3{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 34px;
  }
  .sfb31{
    top: -23px;
    left: 13px;
    transform: rotate(60deg);
  }
  .sfb32{
    top: -23px;
    left: 71px;
    transform: rotate(-60deg);
  }


  .sfpfbase4{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 34px;
  }
  .sfb41{
    top: 10px;
    left: 14px;
  }
  .sfb42{
    top: 10px;
    left: 70px;
  }
  .sfb43{
    top: 35px;
    left: 29px;
    transform: rotate(-60deg);
  }
  .sfb44{
    top: 35px;
    left: 55px;
    transform: rotate(60deg);
  }


  .sfpfbase5{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 21px;
  }
  .sfb51{
    top: -5px;
    left: 22px;
    transform: rotate(60deg);
  }
  .sfb52{
    top: -5px;
    left: 62px;
    transform: rotate(-60deg);
  }
  .sfb53{
    top: 16px;
    left: 26px;
  }
  .sfb54{
    top: 16px;
    left: 58px;
  }
  .sfb55{
    top: 30px;
    left: 34px;
    transform: rotate(-60deg);
  }
  .sfb56{
    top: 30px;
    left: 50px;
    transform: rotate(60deg);
  }


  .sfpfbase6{
    position: absolute;
    top: 24px;
    left: 32px;
    background-color: white;
    width: 26px;
    height: 6px;
  }


  .sfpfbase7{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 17px;
  }
  .sfb71{
    top: 6px;
    left: 22px;
    transform: rotate(-60deg);
  }
  .sfb72{
    top: 6px;
    left: 62px;
    transform: rotate(60deg);
  }
  .sfb73{
    top: 32px;
    left: 21px;
    transform: rotate(60deg);
  }
  .sfb74{
    top: 32px;
    left: 64px;
    transform: rotate(-60deg);
  }
  .sfb75{
    top: -2px;
    left: 8px;
    transform: rotate(-60deg);
  }
  .sfb76{
    top: -2px;
    left: 76px;
    transform: rotate(60deg);
  }
  .sfb77{
    top: 39px;
    left: 9px;
    transform: rotate(60deg);
  }
  .sfb78{
    top: 39px;
    left: 76px;
    transform: rotate(-60deg);
  }


  .sfpfbase8{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 20px;
  }
  .sfb81{
    top: 42px;
    left: 42px;
  }
  .sfb82{
    top: 58px;
    left: 42px;
  }


  .sfdeco1{
    position: absolute;
    top: 0px;
    left: -1px;
  }
  .sfdeco2{
    position: absolute;
    top: 54px;
    left: -1px;
    transform: rotate(-60deg);
  }
  .sfdeco3{
    position: absolute;
    top: 80px;
    left: 44px;
    transform: rotate(-120deg);
  }
  .sfdeco4{
    position: absolute;
    top: 56px;
    left: 90px;
    transform: rotate(180deg);
  }
  .sfdeco5{
    position: absolute;
    top: 0px;
    left: 92px;
    transform: rotate(120deg);
  }



  .sfpfbase9{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 24px;
  }
  .sfb91{
    top: -20px;
    left: 0px;
  }
  .sfb92{
    top: -3px;
    left: -10px;
    transform: rotate(60deg);
  }
  .sfb93{
    top: -15px;
    left: -10px;
    transform: rotate(-60deg);
  }

/*letter start*/

/*position*/
.allctrl{
  position: absolute;
  top: 54px;
  left: 33px;
}
.shells{
  position: relative;
  float: center;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
  opacity: 0.3;
}


/*A*/

.spltta{


}
/*B*/
.shellb{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}

.splttb{

}


/*C*/
.shellc{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttc{
  position: absolute;
  top: 54px;
  left: 33px;
}


/*D*/
.shelld{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttd{
}
/*E*/
.shelle{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.spltte{
}
/*F*/
.shellf{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttf{
}
/*G*/
.shellg{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttg{
}
/*H*/
.shellh{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.spltth{
}
/*I*/
.shelli{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.spltti{
  position: absolute;
  top: 54px;
  left: 33px;
}
/*J*/
.shellj{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttj{
  position: absolute;
  top: 54px;
  left: 33px;
}
/*K*/
.shellk{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttk{
  position: absolute;
  top: 54px;
  left: 33px;
}
/*L*/
.shelll{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttl{
}
/*M*/
.shellm{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttm{
}
/*N*/
.shelln{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttn{
}
/*O*/
.shello{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.spltto{
}
/*P*/
.shellp{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttp{
}
/*Q*/
.shellq{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttq{
}
/*R*/
.shellr{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttr{
}
/*S*/
.shells{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.spltts{
}
/*T*/
.shellt{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttt{

}
/*U*/
.shellu{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttu{
}
/*V*/
.shellv{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttv{
}
/*W*/
.shellw{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttw{
  position: absolute;
  top: 54px;
  left: 33px;
}
/*X */
.shellx{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttx{
}
/*Y*/
.shelly{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.spltty{
}
/*Z*/
.shellz{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttz{
}
/*0*/
.shell0{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.spltt0{

}
/*1*/
.shell1{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.spltt1{

}
/*2*/
.shell2{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.spltt2{

}
/*3*/
.shell3{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.spltt3{

}
/*4*/
.shell4{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.spltt4{

}
/*5*/
.shell5{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.spltt5{

}
/*6*/
.shell6{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.spltt6{

}
/*7*/
.shell7{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.spltt7{

}
/*8*/
.shell8{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.spltt8{

}
/*9*/
.shell9{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.spltt9{

}

/*full stop*/
.shellstp{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttstp{

}

/*Exclamation mark*/
.shellexm{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttexm{

}

/*question mark*/
.shellqmk{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttqmk{

}

/*rest*/
.shellrest{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttrest{

}

/*openmark*/
.shellop{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttom{

}
/*closemark*/
.shellcm{
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  /*background-color: red;*/
}
.splttcm{

}
