

/*.blinkmv{
    animation: blinkprss 3s;
}
@keyframes blinkprss {
    0%{
      opacity: 0.2;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 0.2;
    }
}*/

/*key start*/
.allctrl{
  position: absolute;
  opacity: 0;
  top: 100%;
  left: 50%;
  margin-left: -40px;
}
.shells{

}
/*.shellsmv{
  animation: shellsprss 1s forwards;
  animation-delay: 4s;
}
@keyframes shellsprss {
  0%{

  }
  100%{
    position: relative;
    float: left;
    width: 135px;
    height: 135px;
    transform: scale(0.9, 0.9);
  }
}*/
/*key end*/



/*------------------------------pack2------------------------------------*/
/*set1*/
.asnowmvr1{
animation: asnowprssr1 4.5s linear forwards;
z-index: 60;
}

@keyframes asnowprssr1 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
    opacity: 1;
  }
  20%{
    transform: scale(1,1) translateX(-650px);
    top: -20%;
    opacity: 1;
  }
  100%{
    transform: scale(0.9,0.9);
    top: 54px;
    left: 70px;
    opacity: 1;
  }
}

.asnowmvr2{
animation: asnowprssr2 4.5s linear forwards;
z-index: 60;
}
@keyframes asnowprssr2 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
    opacity: 1;
  }
  20%{
    transform: scale(1,1) translateX(-350px);
    top: -60%;
    opacity: 1;
  }
  60%{
    opacity: 1;
  }
  100%{
    transform: scale(0.9,0.9);
    top: 54px;
    left: 200px;
    opacity: 1;
  }
}

.asnowmvr3{
  animation: asnowprssr3 4.5s linear;
  z-index: 60;
}
@keyframes asnowprssr3 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(1,1) translateX(-50px);
    top: -20%;
    opacity: 1;
  }
  100%{
   transform: scale(1,1) translateX(-250px);
   top: 120%;
   opacity: 1;
  }
}

.asnowmvr4{
  animation: asnowprssr4 4.5s linear;
  z-index: 60;
}
@keyframes asnowprssr4 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(1,1) translateX(250px);
    top: -20%;
    opacity: 1;
  }
  100%{
   transform: scale(1,1) translateX(50px);
   top: 140%;
   opacity: 1;
  }
}

.asnowmvr5{
animation: asnowprssr5 4.5s linear;
z-index: 60;
}
@keyframes asnowprssr5 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(1,1) translateX(550px);
    top: -40%;
    opacity: 1;
  }
  100%{
   transform: scale(1,1) translateX(350px);
   top: 120%;
   opacity: 1;
  }
}

/*set2*/
.asnowmvr6{
animation: asnowprssr6 4.5s linear;
z-index: 59;
}
@keyframes asnowprssr6 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.9,0.9) translateX(-650px);
    top: -20%;
    opacity: 0.6;
  }
  100%{
   transform: scale(0.9,0.9) translateX(-750px);
   opacity: 0.6;
   top: 160%;
  }
}

.asnowmvr7{
animation: asnowprssr7 4.5s linear;
z-index: 59;
}
@keyframes asnowprssr7 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.9,0.9) translateX(-350px);
    top: -20%;
    opacity: 0.6;
  }
  100%{
   transform: scale(0.9,0.9) translateX(-450px);
   top: 120%;
   opacity: 0.6;
  }
}

.asnowmvr8{
  animation: asnowprssr8 4.5s linear;
  z-index: 59;
}
@keyframes asnowprssr8 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.9,0.9) translateX(-50px);
    top: -60%;
    opacity: 0.6;
  }

  100%{
   transform: scale(0.9,0.9) translateX(-150px);
   top: 140%;
   opacity: 0.6;
  }
}

.asnowmvr9{
  animation: asnowprssr9 4.5s linear;
  z-index: 59;
}
@keyframes asnowprssr9 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.9,0.9) translateX(250px);
    top: -20%;
    opacity: 0.6;
  }
  100%{
   transform: scale(0.9,0.9) translateX(150px);
   top: 120%;
   opacity: 0.6;
  }
}

.asnowmvr10{
animation: asnowprssr10 4.5s linear;
z-index: 59;
}
@keyframes asnowprssr10 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.9,0.9) translateX(550px);
    top: -20%;
    opacity: 0.6;
  }
  100%{
   transform: scale(0.9,0.9) translateX(450px);
   top: 160%;
   opacity: 0.6;
  }
}

/*set3*/
.asnowmvr11{
animation: asnowprssr11 4.5s linear;
z-index: 59;
}
@keyframes asnowprssr11 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.9,0.9) translateX(-750px);
    top: -40%;
    opacity: 0.6;
  }
  100%{
   transform: scale(0.9,0.9) translateX(-650px);
   top: 120%;
   opacity: 0.6;
  }
}

.asnowmvr12{
animation: asnowprssr12 4.5s linear;
z-index: 59;
}
@keyframes asnowprssr12 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.9,0.9) translateX(-450px);
    top: -20%;
    opacity: 0.6;
  }
  100%{
   transform: scale(0.9,0.9) translateX(-350px);
   top: 140%;
   opacity: 0.6;
  }
}

.asnowmvr13{
  animation: asnowprssr13 4.5s linear;
  z-index: 59;
}
@keyframes asnowprssr13 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.9,0.9) translateX(-150px);
    top: -20%;
    opacity: 0.6;
  }
  100%{
   transform: scale(0.9,0.9) translateX(-50px);
   top: 120%;
   opacity: 0.6;
  }
}

.asnowmvr14{
  animation: asnowprssr14 4.5s linear;
  z-index: 59;
}
@keyframes asnowprssr14 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.9,0.9) translateX(150px);
    top: -60%;
    opacity: 0.6;
  }
  100%{
   transform: scale(0.9,0.9) translateX(250px);
   top: 160%;
   opacity: 0.6;
  }
}

.asnowmvr15{
animation: asnowprssr15 4.5s linear;
z-index: 59;
}
@keyframes asnowprssr15 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.9,0.9) translateX(450px);
    top: -20%;
    opacity: 0.6;
  }
  100%{
   transform: scale(0.9,0.9) translateX(550px);
   top: 120%;
   opacity: 0.6;
  }
}

/*set4*/
.asnowmvr16{
animation: asnowprssr16 4.5s linear;
z-index: 60;
}
@keyframes asnowprssr16 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(1,1) translateX(-850px);
    top: -20%;
    opacity: 1;
  }

  100%{
   transform: scale(1,1) translateX(-650px);
   top: 140%;
   opacity: 1;
  }
}

.asnowmvr17{
animation: asnowprssr17 4.5s linear;
z-index: 60;
}
@keyframes asnowprssr17 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(1,1) translateX(-550px);
    top: -40%;
    opacity: 1;
  }
  100%{
   transform: scale(1,1) translateX(-350px);
   top: 120%;
   opacity: 1;
  }
}

.asnowmvr18{
  animation: asnowprssr18 4.5s linear;
  z-index: 60;
}
@keyframes asnowprssr18 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(1,1) translateX(-250px);
    top: -20%;
    opacity: 1;
  }
  100%{
   transform: scale(1,1) translateX(-50px);
   top: 160%;
   opacity: 1;
  }
}

.asnowmvr19{
  animation: asnowprssr19 4.5s linear;
  z-index: 60;
}
@keyframes asnowprssr19 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(1,1) translateX(50px);
    top: -20%;
    opacity: 1;
  }
  100%{
   transform: scale(1,1) translateX(250px);
   top: 120%;
   opacity: 1;
  }
}

.asnowmvr20{
animation: asnowprssr20 4.5s linear;
z-index: 60;
}
@keyframes asnowprssr20 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(1,1) translateX(350px);
    top: -60%;
    opacity: 1;
  }
  100%{
   transform: scale(1,1) translateX(550px);
   top: 140%;
   opacity: 1;
  }
}

/*set5*/
.asnowmvr21{
animation: asnowprssr21 4.5s linear;
z-index: 59;
}
@keyframes asnowprssr21 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.7,0.7) translateX(-850px);
    top: -20%;
    opacity: 0.4;
  }
  100%{
   transform: scale(0.7,0.7) translateX(-750px);
   top: 120%;
   opacity: 0.4;
  }
}

.asnowmvr22{
animation: asnowprssr22 4.5s linear;
z-index: 59;
}
@keyframes asnowprssr22 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.7,0.7) translateX(-650px);
    top: -20%;
    opacity: 0.4;
  }
  100%{
   transform: scale(0.7,0.7) translateX(-550px);
   top: 160%;
   opacity: 0.4;
  }
}

.asnowmvr23{
  animation: asnowprssr23 4.5s linear;
  z-index: 59;
}
@keyframes asnowprssr23 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.7,0.7) translateX(-450px);
    top: -40%;
    opacity: 0.4;
  }
  100%{
   transform: scale(0.7,0.7) translateX(-350px);
   top: 120%;
   opacity: 0.4;
  }
}

.asnowmvr24{
  animation: asnowprssr24 4.5s linear;
  z-index: 59;
}
@keyframes asnowprssr24 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.7,0.7) translateX(-250px);
    top: -20%;
    opacity: 0.4;
  }
  100%{
   transform: scale(0.7,0.7) translateX(-150px);
   top: 140%;
   opacity: 0.4;
  }
}

.asnowmvr25{
animation: asnowprssr25 4.5s linear;
z-index: 59;
}
@keyframes asnowprssr25 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.7,0.7) translateX(-50px);
    top: -20%;
    opacity: 0.4;
  }
  100%{
   transform: scale(0.7,0.7) translateX(50px);
   top: 120%;
   opacity: 0.4;
  }
}

.asnowmvr26{
animation: asnowprssr26 4.5s linear;
z-index: 60;
}
@keyframes asnowprssr26 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.7,0.7) translateX(150px);
    top: -60%;
    opacity: 0.4
  }
  100%{
   transform: scale(0.7,0.7) translateX(250px);
   top: 160%;
   opacity: 0.4
  }
}

.asnowmvr27{
animation: asnowprssr27 4.5s linear;
z-index: 60;
}
@keyframes asnowprssr27 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.7,0.7) translateX(350px);
    top: -20%;
    opacity: 0.4
  }
  100%{
   transform: scale(0.7,0.7) translateX(450px);
   top: 120%;
   opacity: 0.4
  }
}

.asnowmvr28{
  animation: asnowprssr28 4.5s linear;
  z-index: 60;
}
@keyframes asnowprssr28 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.7,0.7) translateX(550px);
    top: -20%;
    opacity: 0.4
  }
  100%{
   transform: scale(0.7,0.7) translateX(650px);
   top: 140%;
   opacity: 0.4
  }
}

.asnowmvr29{
  animation: asnowprssr29 4.5s linear;
  z-index: 60;
}
@keyframes asnowprssr29 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.7,0.7) translateX(750px);
    top: -40%;
    opacity: 0.4
  }
  100%{
   transform: scale(0.7,0.7) translateX(850px);
   top: 120%;
   opacity: 0.4
  }
}

.asnowmvr30{
animation: asnowprssr30 4.5s linear;
z-index: 60;
}
@keyframes asnowprssr30 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.7,0.7) translateX(950px);
    top: -20%;
    opacity: 0.4
  }
  100%{
   transform: scale(0.7,0.7) translateX(1050px);
   top: 160%;
   opacity: 0.4
  }
}


/*set6*/
.asnowmvr31{
animation: asnowprssr31 4.5s linear;
z-index: 59;
}
@keyframes asnowprssr31 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.7,0.7) translateX(-650px);
    top: -20%;
    opacity: 0.4;
  }
  100%{
   transform: scale(0.7,0.7) translateX(-750px);
   top: 120%;
   opacity: 0.4;
  }
}

.asnowmvr32{
animation: asnowprssr32 4.5s linear;
z-index: 59;
}
@keyframes asnowprssr32 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.7,0.7) translateX(-450px);
    top: -40%;
    opacity: 0.4;
  }
  100%{
   transform: scale(0.7,0.7) translateX(-550px);
   top: 120%;
   opacity: 0.4;
  }
}

.asnowmvr33{
  animation: asnowprssr33 4.5s linear;
  z-index: 59;
}
@keyframes asnowprssr33 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.7,0.7) translateX(-250px);
    top: -20%;
    opacity: 0.4;
  }
  100%{
   transform: scale(0.7,0.7) translateX(-350px);
   top: 140%;
   opacity: 0.4;
  }
}

.asnowmvr34{
  animation: asnowprssr34 4.5s linear;
  z-index: 59;
}
@keyframes asnowprssr34 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.7,0.7) translateX(-50px);
    top: -20%;
    opacity: 0.4;
  }
  100%{
   transform: scale(0.7,0.7) translateX(-150px);
   top: 120%;
   opacity: 0.4;
  }
}

.asnowmvr35{
animation: asnowprssr35 4.5s linear;
z-index: 59;
}
@keyframes asnowprssr35 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.7,0.7) translateX(150px);
    top: -60%;
    opacity: 0.4;
  }
  100%{
   transform: scale(0.7,0.7) translateX(50px);
   top: 160%;
   opacity: 0.4;
  }
}

.asnowmvr36{
animation: asnowprssr36 4.5s linear;
z-index: 60;
}
@keyframes asnowprssr36 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.7,0.7) translateX(150px);
    top: -20%;
    opacity: 0.4
  }
  100%{
   transform: scale(0.7,0.7) translateX(250px);
   top: 120%;
   opacity: 0.4
  }
}

.asnowmvr37{
animation: asnowprssr37 4.5s linear;
z-index: 60;
}
@keyframes asnowprssr37 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.7,0.7) translateX(550px);
    top: -20%;
    opacity: 0.4
  }
  100%{
   transform: scale(0.7,0.7) translateX(450px);
   top: 120%;
   opacity: 0.4
  }
}

.asnowmvr38{
  animation: asnowprssr38 4.5s linear;
  z-index: 60;
}
@keyframes asnowprssr38 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.7,0.7) translateX(750px);
    top: -40%;
    opacity: 0.4
  }
  100%{
   transform: scale(0.7,0.7) translateX(650px);
   top: 140%;
   opacity: 0.4
  }
}

.asnowmvr39{
  animation: asnowprssr39 4.5s linear;
  z-index: 60;
}
@keyframes asnowprssr39 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.7,0.7) translateX(950px);
    top: -20%;
    opacity: 0.4
  }
  100%{
   transform: scale(0.7,0.7) translateX(850px);
   top: 120%;
   opacity: 0.4
  }
}

.asnowmvr40{
animation: asnowprssr40 4.5s linear;
z-index: 60;
}
@keyframes asnowprssr40 {
  7%{
    transform: scale(1,1) translateX(0px);
    top: 40%;
  }
  20%{
    transform: scale(0.7,0.7) translateX(1150px);
    top: -20%;
    opacity: 0.4
  }
  100%{
   transform: scale(0.7,0.7) translateX(1050px);
   top: 160%;
   opacity: 0.4
  }
}
