/*inputstart*/
.interactiveframe{
  position: fixed;
  z-index: 4;
}
.inputbox01 {
    position: fixed;
    top: 63%;
    left: 50%;
    margin-left: -153px;
    z-index: 10;
    display: none;
}

.inputdeco1{
  position: absolute;
  width: 300px;
  height: 78px;
  background-color: white;
  color: #0b1e31;
  opacity: 0.6;
  text-align: center;
  border-radius: 2%;
  border: double 4px #0b1e31;
  padding-top: 24px;
  line-height: 11px;
}
#ipttl{
  font-weight: 700;
  text-decoration: underline;
}
#input{
  width: 400px;
  height: 20px;
  font: 20px;
}
.inputdeco2{
  position: absolute;
  left: 50%;
  margin-left: 140px;
  top: 76px;
  width: 25px;
  height: 25px;
  border-radius: 20%;
  background-color: #0b1e31;
  opacity: 0.9;
}
.smallsnow{
  position: absolute;
  left: 50%;
  margin-left: -7px;
  top: 9px;
  transform: scale(0.14,0.14);
  opacity: 0.8;
}

.msheet1{
  display: none;
}
.msheet2{
  display: none;
}
.msheet3{
  display: none;
}
.msheet4{
  display: none;
  position: absolute;
  top: 21px;
  left: 50%;
  margin-left: -102px;
}
.hidden{
  display: none;
}
.popup{
  display: block;
}
/*inputend*/


/*interactivepart//////////////////////*/

.interactiveframe{
  display: none;
}
.bigframe03{
  position: relative;
  padding-left: 10px;
  /*width: 100%;
  height: 100%;
  padding-right: 50px;*/
}

/*frame*/
  .intrspbframe0{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -88px;
    opacity: 0.04;
    transform: scale(2,2);
    transform-origin: center;
  }



  @keyframes spbs0pss {
    0%{
      transform: scale(0.1,0.1);
      top: 50%;
    }
    5%{
      top: 35%;
    }
    10%{
      top: 27.5%;
    }
    15%{
      top: 23%;
    }
    20%{
      top: 21%;
    }
    25%{
      top: 20%;
    }
    30%{
      top: 21%;
    }
    35%{
      top: 23%;
    }
    40%{
      top: 27.5%;
    }
    45%{
      top: 35%;
    }
    50%{
      transform: scale(2,2);
      top: 50%;
    }
    55%{
      top: 35%;
    }
    60%{
      top: 27.5%;
    }
    65%{
      top: 23%;
    }
    70%{
      top: 21%;
    }
    75%{
      top: 20%;
    }
    80%{
      top: 21%;
    }
    85%{
      top: 23%;
    }
    90%{
      top: 27.5%;
    }
    95%{
      top: 35%;
    }
    100%{
      color: white;
      top: 50%;
      transform: scale(0.1,0.1);
    }

  }



  /*bases*/
  .intrspbase0{
    position: absolute;
    background-color: green;
    width: 90px;
    height: 3px;
    top: 0px;
    left: 0px;
  }
  .intrspbase01{
    position: absolute;
    background-color: green;
    width: 78px;
    height: 3px;
    top: 0px;
    left: 0px;
  }

  .intrspbase1{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 54px;
    border-radius: 5%;
  }
  .intrsppf1 {
    top: 0px;
    left: 0px;
  }
  .intrsppf2 {
    top: 0px;
    left: 84px;
  }


  .intrspbase2{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 51px;
    border-radius: 5%;
  }
  .intrspb21{
    top: 39px;
    left: 21px;
    transform: rotate(-60deg);
  }
  .intrspb22{
    top: 39px;
    left: 63px;
    transform: rotate(60deg);
  }
  .intrspb23{
    top: -45px;
    left: 42px;
  }


  .intrspbase3{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 34px;
    border-radius: 5%;
  }
  .intrspb31{
    top: -23px;
    left: 13px;
    transform: rotate(60deg);
  }
  .intrspb32{
    top: -23px;
    left: 71px;
    transform: rotate(-60deg);
  }


  .intrspbase4{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 34px;
    border-radius: 5%;
  }
  .intrspb41{
    top: 10px;
    left: 14px;
  }
  .intrspb42{
    top: 10px;
    left: 70px;
  }
  .intrspb43{
    top: 35px;
    left: 29px;
    transform: rotate(-60deg);
  }
  .intrspb44{
    top: 35px;
    left: 55px;
    transform: rotate(60deg);
  }


  .intrspbase5{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 21px;
    border-radius: 5%;
  }
  .intrspb51{
    top: -5px;
    left: 22px;
    transform: rotate(60deg);
  }
  .intrspb52{
    top: -5px;
    left: 62px;
    transform: rotate(-60deg);
  }
  .intrspb53{
    top: 16px;
    left: 26px;
  }
  .intrspb54{
    top: 16px;
    left: 58px;
  }
  .intrspb55{
    top: 30px;
    left: 34px;
    transform: rotate(-60deg);
  }
  .intrspb56{
    top: 30px;
    left: 50px;
    transform: rotate(60deg);
  }


  .intrspbase6{
    position: absolute;
    top: 24px;
    left: 32px;
    background-color: white;
    width: 26px;
    height: 6px;
    border-radius: 5%;
  }


  .intrspbase7{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 17px;
    border-radius: 5%;
  }
  .intrspb71{
    top: 6px;
    left: 22px;
    transform: rotate(-60deg);
  }
  .intrspb72{
    top: 6px;
    left: 62px;
    transform: rotate(60deg);
  }
  .intrspb73{
    top: 32px;
    left: 21px;
    transform: rotate(60deg);
  }
  .intrspb74{
    top: 32px;
    left: 64px;
    transform: rotate(-60deg);
  }
  .intrspb75{
    top: -2px;
    left: 8px;
    transform: rotate(-60deg);
  }
  .intrspb76{
    top: -2px;
    left: 76px;
    transform: rotate(60deg);
  }
  .intrspb77{
    top: 39px;
    left: 9px;
    transform: rotate(60deg);
  }
  .intrspb78{
    top: 39px;
    left: 75px;
    transform: rotate(-60deg);
  }


  .intrspbase8{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 20px;
    border-radius: 5%;
  }
  .intrspb81{
    top: 42px;
    left: 42px;
  }
  .intrspb82{
    top: 58px;
    left: 42px;
  }


  .intrspdeco1{
    position: absolute;
    top: 0px;
    left: -1px;
  }
  .intrspdeco2{
    position: absolute;
    top: 54px;
    left: -1px;
    transform: rotate(-60deg);
  }
  .intrspdeco3{
    position: absolute;
    top: 80px;
    left: 44px;
    transform: rotate(-120deg);
  }
  .intrspdeco4{
    position: absolute;
    top: 56px;
    left: 90px;
    transform: rotate(180deg);
  }
  .intrspdeco5{
    position: absolute;
    top: 0px;
    left: 92px;
    transform: rotate(120deg);
  }



  .intrspbase9{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 24px;
    border-radius: 5%;
  }
  .intrspb91{
    top: -20px;
    left: 0px;
  }
  .intrspb92{
    top: -3px;
    left: -10px;
    transform: rotate(60deg);
  }
  .intrspb93{
    top: -15px;
    left: -10px;
    transform: rotate(-60deg);
  }

/*letter start*/

/*position*/
.intrallctrl{
  position: absolute;
  top: 54px;
  left: 33px;
}
.intrshells{
  position: relative;
  float: left;
  width: 135px;
  height: 135px;
  transform: scale(0.9, 0.9);


  /*background-color: red;*/
}


/*A*/

.intrspltta{
opacity: 0.02;
}
/*B*/

.intrsplttb{
opacity: 0.02;
}


/*C*/
.intrsplttc{
opacity: 0.02;
}


/*D*/
.intrsplttd{
  opacity: 0.02;
}
/*E*/
.intrspltte{
  opacity: 0.02;
}
/*F*/
.intrsplttf{
  opacity: 0.02;
}
/*G*/
.intrsplttg{
  opacity: 0.02;
}
/*H*/
.intrspltth{
  opacity: 0.02;
}
/*I*/
.intrspltti{
  opacity: 0.02;
}
/*J*/
.intrsplttj{
  opacity: 0.02;
}
/*K*/
.intrsplttk{
  opacity: 0.02;
}
/*L*/
.intrsplttl{
  opacity: 0.02;
}
/*M*/
.intrsplttm{
  opacity: 0.02;
}
/*N*/
.intrsplttn{
  opacity: 0.02;
}
/*O*/
.intrspltto{
  opacity: 0.02;
}
/*P*/
.intrsplttp{
  opacity: 0.02;
}
/*Q*/
.intrsplttq{
  opacity: 0.02;
}
/*R*/
.intrsplttr{
  opacity: 0.02;
}
/*S*/

.intrspltts{
  opacity: 0.02;
}
/*T*/
.intrsplttt{
  opacity: 0.02;
}
/*U*/
.intrsplttu{
  opacity: 0.02;
}
/*V*/
.intrsplttv{
  opacity: 0.02;
}
/*W*/
.intrsplttw{
  opacity: 0.02;
}
/*X */
.intrsplttx{
  opacity: 0.02;
}
/*Y*/
.intrspltty{
  opacity: 0.02;
}
/*Z*/
.intrsplttz{
  opacity: 0.02;
}
/*0*/
.intrspltt0{
  opacity: 0.02;
}
/*1*/
.intrspltt1{
  opacity: 0.02;
}
/*2*/
.intrspltt2{
  opacity: 0.02;
}
/*3*/
.intrspltt3{
  opacity: 0.02;
}
/*4*/
.intrspltt4{
  opacity: 0.02;
}
/*5*/
.intrspltt5{
  opacity: 0.02;
}
/*6*/
.intrspltt6{
  opacity: 0.02;
}
/*7*/
.intrspltt7{
  opacity: 0.02;
}
/*8*/
.intrspltt8{
  opacity: 0.02;
}
/*9*/
.intrspltt9{
  opacity: 0.02;
}

/*full stop*/
.intrsplttstp{
opacity: 0.02;
}

/*Exclamation mark*/
.intrsplttexm{
opacity: 0.02;
}

/*question mark*/
.intrsplttqmk{
opacity: 0.02;
}

/*rest*/
.intrsplttrest{
opacity: 0.02;
}

/*openmark*/
.intrsplttom{
opacity: 0.02;
}
/*closemark*/
.intrsplttcm{
opacity: 0.02;
}


.blinkmv{
    animation: blinkprss 0.6s;
  }
@keyframes blinkprss {
  0%{
    opacity: 0.02;
  }

  50%{
    opacity: 0.9;
  }

  100%{
    opacity: 0.02;
  }

}
