/*inputstart*/
.inputbox01 {
    position: fixed;
    top: 62%;
    left: 50%;
    margin-left: -172px;
    z-index: 10;
}

.inputdeco1{
  position: absolute;
  width: 300px;
  height: 80px;
  background-color: white;
  color: #0b1e31;
  opacity: 0.6;
  text-align: center;
  border-radius: 1%;
  border: double 4px #0b1e31;
  padding: 10px;
  line-height: 12px;
}
#ipttl{
  font-weight: 700;
  text-decoration: underline;
}
#input{
  width: 400px;
  height: 20px;
  font: 20px;
}
/*inputend*/

.bigframe{
  position: relative;
  padding-left: 10px;
  /*width: 100%;
  height: 100%;
  padding-right: 50px;*/
}

/*frame*/
  .sfbaseframe0{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -100px;
    opacity: 0.02;
    transform: scale(2,2);
    transform-origin: center;
  }
  /*.spbs0mv{
    animation: spbs0pss 1.2s linear infinite;
  }*/

  /*.shakemv {
    animation: shakeprss 0.2s;
  }*/

  @keyframes shakeprss {
    0% {
      transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
      transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
      transform: translate3d(10px, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }



  @keyframes spbs0pss {
    0%{
      transform: scale(0.1,0.1);
      top: 50%;
    }
    5%{
      top: 35%;
    }
    10%{
      top: 27.5%;
    }
    15%{
      top: 23%;
    }
    20%{
      top: 21%;
    }
    25%{
      top: 20%;
    }
    30%{
      top: 21%;
    }
    35%{
      top: 23%;
    }
    40%{
      top: 27.5%;
    }
    45%{
      top: 35%;
    }
    50%{
      transform: scale(2,2);
      top: 50%;
    }
    55%{
      top: 35%;
    }
    60%{
      top: 27.5%;
    }
    65%{
      top: 23%;
    }
    70%{
      top: 21%;
    }
    75%{
      top: 20%;
    }
    80%{
      top: 21%;
    }
    85%{
      top: 23%;
    }
    90%{
      top: 27.5%;
    }
    95%{
      top: 35%;
    }
    100%{
      color: white;
      top: 50%;
      transform: scale(0.1,0.1);
    }

  }



  /*bases*/
  .sfpfbase0{
    position: absolute;
    background-color: green;
    width: 90px;
    height: 3px;
    top: 0px;
    left: 0px;
  }
  .sfpfbase01{
    position: absolute;
    background-color: green;
    width: 78px;
    height: 3px;
    top: 0px;
    left: 0px;
  }

  .sfpfbase1{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 54px;
    border-radius: 5%;
  }
  .sfpf1 {
    top: 0px;
    left: 0px;
  }
  .sfpf2 {
    top: 0px;
    left: 84px;
  }


  .sfpfbase2{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 51px;
    border-radius: 5%;
  }
  .sfb21{
    top: 39px;
    left: 21px;
    transform: rotate(-60deg);
  }
  .sfb22{
    top: 39px;
    left: 63px;
    transform: rotate(60deg);
  }
  .sfb23{
    top: -45px;
    left: 42px;
  }


  .sfpfbase3{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 34px;
    border-radius: 5%;
  }
  .sfb31{
    top: -23px;
    left: 13px;
    transform: rotate(60deg);
  }
  .sfb32{
    top: -23px;
    left: 71px;
    transform: rotate(-60deg);
  }


  .sfpfbase4{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 34px;
    border-radius: 5%;
  }
  .sfb41{
    top: 10px;
    left: 14px;
  }
  .sfb42{
    top: 10px;
    left: 70px;
  }
  .sfb43{
    top: 35px;
    left: 29px;
    transform: rotate(-60deg);
  }
  .sfb44{
    top: 35px;
    left: 55px;
    transform: rotate(60deg);
  }


  .sfpfbase5{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 21px;
    border-radius: 5%;
  }
  .sfb51{
    top: -5px;
    left: 22px;
    transform: rotate(60deg);
  }
  .sfb52{
    top: -5px;
    left: 62px;
    transform: rotate(-60deg);
  }
  .sfb53{
    top: 16px;
    left: 26px;
  }
  .sfb54{
    top: 16px;
    left: 58px;
  }
  .sfb55{
    top: 30px;
    left: 34px;
    transform: rotate(-60deg);
  }
  .sfb56{
    top: 30px;
    left: 50px;
    transform: rotate(60deg);
  }


  .sfpfbase6{
    position: absolute;
    top: 24px;
    left: 32px;
    background-color: white;
    width: 26px;
    height: 6px;
    border-radius: 5%;
  }


  .sfpfbase7{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 17px;
    border-radius: 5%;
  }
  .sfb71{
    top: 6px;
    left: 22px;
    transform: rotate(-60deg);
  }
  .sfb72{
    top: 6px;
    left: 62px;
    transform: rotate(60deg);
  }
  .sfb73{
    top: 32px;
    left: 21px;
    transform: rotate(60deg);
  }
  .sfb74{
    top: 32px;
    left: 64px;
    transform: rotate(-60deg);
  }
  .sfb75{
    top: -2px;
    left: 8px;
    transform: rotate(-60deg);
  }
  .sfb76{
    top: -2px;
    left: 76px;
    transform: rotate(60deg);
  }
  .sfb77{
    top: 39px;
    left: 9px;
    transform: rotate(60deg);
  }
  .sfb78{
    top: 39px;
    left: 75px;
    transform: rotate(-60deg);
  }


  .sfpfbase8{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 20px;
    border-radius: 5%;
  }
  .sfb81{
    top: 42px;
    left: 42px;
  }
  .sfb82{
    top: 58px;
    left: 42px;
  }


  .sfdeco1{
    position: absolute;
    top: 0px;
    left: -1px;
  }
  .sfdeco2{
    position: absolute;
    top: 54px;
    left: -1px;
    transform: rotate(-60deg);
  }
  .sfdeco3{
    position: absolute;
    top: 80px;
    left: 44px;
    transform: rotate(-120deg);
  }
  .sfdeco4{
    position: absolute;
    top: 56px;
    left: 90px;
    transform: rotate(180deg);
  }
  .sfdeco5{
    position: absolute;
    top: 0px;
    left: 92px;
    transform: rotate(120deg);
  }



  .sfpfbase9{
    position: absolute;
    background-color: white;
    width: 6px;
    height: 24px;
    border-radius: 5%;
  }
  .sfb91{
    top: -20px;
    left: 0px;
  }
  .sfb92{
    top: -3px;
    left: -10px;
    transform: rotate(60deg);
  }
  .sfb93{
    top: -15px;
    left: -10px;
    transform: rotate(-60deg);
  }

/*letter start*/

/*position*/
.allctrl{
  position: absolute;
  top: 54px;
  left: 33px;
}
.shells{
  position: relative;
  float: left;
  width: 135px;
  height: 135px;
  transform: scale(0.9, 0.9);


  /*background-color: red;*/
}


/*A*/

.spltta{
opacity: 0.02;
}
/*B*/

.splttb{
opacity: 0.02;
}


/*C*/
.splttc{
opacity: 0.02;
}


/*D*/
.splttd{
  opacity: 0.02;
}
/*E*/
.spltte{
  opacity: 0.02;
}
/*F*/
.splttf{
  opacity: 0.02;
}
/*G*/
.splttg{
  opacity: 0.02;
}
/*H*/
.spltth{
  opacity: 0.02;
}
/*I*/
.spltti{
  opacity: 0.02;
}
/*J*/
.splttj{
  opacity: 0.02;
}
/*K*/
.splttk{
  opacity: 0.02;
}
/*L*/
.splttl{
  opacity: 0.02;
}
/*M*/
.splttm{
  opacity: 0.02;
}
/*N*/
.splttn{
  opacity: 0.02;
}
/*O*/
.spltto{
  opacity: 0.02;
}
/*P*/
.splttp{
  opacity: 0.02;
}
/*Q*/
.splttq{
  opacity: 0.02;
}
/*R*/
.splttr{
  opacity: 0.02;
}
/*S*/

.spltts{
  opacity: 0.02;
}
/*T*/
.splttt{
  opacity: 0.02;
}
/*U*/
.splttu{
  opacity: 0.02;
}
/*V*/
.splttv{
  opacity: 0.02;
}
/*W*/
.splttw{
  opacity: 0.02;
}
/*X */
.splttx{
  opacity: 0.02;
}
/*Y*/
.spltty{
  opacity: 0.02;
}
/*Z*/
.splttz{
  opacity: 0.02;
}
/*0*/
.spltt0{
  opacity: 0.02;
}
/*1*/
.spltt1{
  opacity: 0.02;
}
/*2*/
.spltt2{
  opacity: 0.02;
}
/*3*/
.spltt3{
  opacity: 0.02;
}
/*4*/
.spltt4{
  opacity: 0.02;
}
/*5*/
.spltt5{
  opacity: 0.02;
}
/*6*/
.spltt6{
  opacity: 0.02;
}
/*7*/
.spltt7{
  opacity: 0.02;
}
/*8*/
.spltt8{
  opacity: 0.02;
}
/*9*/
.spltt9{
  opacity: 0.02;
}

/*full stop*/
.splttstp{
opacity: 0.02;
}

/*Exclamation mark*/
.splttexm{
opacity: 0.02;
}

/*question mark*/
.splttqmk{
opacity: 0.02;
}

/*rest*/
.splttrest{
opacity: 0.02;
}

/*openmark*/
.splttom{
opacity: 0.02;
}
/*closemark*/
.splttcm{
opacity: 0.02;
}


.blinkmv{
    animation: blinkprss 0.6s;
  }
@keyframes blinkprss {
  0%{
    opacity: 0.02;
  }

  50%{
    opacity: 0.9;
  }

  100%{
    opacity: 0.02;
  }

}
