body{
  margin: 0px;
  background-color: #2d2d2d;
  /*background-color: red;*/
  font-family: 'Open Sans', sans-serif;
  color: #f0f0f0;
}
/*page1////////////////////////////////////////*/
#page1{
}
.frame2{
  position: absolute;
  left: 50%;
  margin-left: -512px;
  height: 680px;
  width: 1024px;
  background-color: #2d2d2d;
  /*overflow: hidden;*/
}
.firstfire{
  position: absolute;
  top: 180px;
  left: 62px;
}
.firstfire00{
  background-color: #f46432;
  border-radius: 50%;
  position: absolute;
  opacity: 0.06;
  transform: scale(0,0);
}

.firstfiremv1{
  animation: firstfireprss 4s forwards;
  animation-delay: 2.8s;
}
.firstfiremv2{
  animation: firstfireprss 3s forwards;
  animation-delay: 2.8s;
}
.firstfiremv3{
  animation: firstfireprss 2s forwards;
  animation-delay: 2.8s;
}
@keyframes firstfireprss {
  0%{
    transform: scale(0,0);
  }
  100%{
    transform: scale(8,8);
  }
}

.p1title{
  position: absolute;
  top: 290px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  color: #f0f0f0;
  line-height: 50px;
}
#p1stitle{
  font-weight: 600;
  font-size: 34px;
}
.p1titlemv{
  animation: p1titleprss 1s forwards;
  animation-delay: 2s;
  opacity: 0;
}
@keyframes p1titleprss {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.candleline0{
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 405px;
  width: 2px;
  height: 485px;
  background-color: #f0f0f0;
}
.candlelinemv{
  transform-origin: bottom;
  animation: candlelineprss 2.5s forwards;
}
@keyframes candlelineprss {
  0%{
    transform: scale(1,0);
  }
  100%{
    transform: scale(1,1);
  }
}

/*page2///////////////////////////////////////*/
#page2{

}


.frame3{
  position: absolute;
  top: 680px;
  left: 50%;
  margin-left: -512px;
  height: 680px;
  width: 1024px;
  background-color: #2d2d2d;
}

.righttextbox{
  position: absolute;
  left: 415px;
  top: 230px;
  width: 465px;
  font-size: 14px;
  line-height: 18px;
}

.lefttextbox1{
  position: absolute;
  left: 150px;
  top: 228px;
  width: 244px;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  line-height: 22px;
}

#sptext1{
  font-size: 24px;
  color: #f46432;
}

.lefttextbox2{
  position: absolute;
  left: 150px;
  top: 290px;
  width: 244px;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  line-height: 22px;
}

#sptext2{
  font-size: 24px;
}

/*page3////////////////////////////////////////*/
.frame4{
  position: absolute;
  top: 1360px;
  left: 50%;
  margin-left: -512px;
  height: 680px;
  width: 1024px;
  background-color: #2d2d2d;
  font-size: 12px;
  font-weight: 800;
}
.p3allmap{
  position: absolute;
  top: -60px;
}
.p3map{
  position: absolute;
  left: 3px;
  top: 70px;
  width: 1024px;
  height: 474px;
  background-image: url(../img/p3map.png);
  background-size: cover;
  opacity: 0.3;
}
.p3sk{
  position: absolute;
  left: 803px;
  top: 216px;
  width: 13px;
  height: 14px;
  background-image: url(../img/p3mapsouthkorea.png);
  background-size: cover;
}
.p3ca{
  position: absolute;
  left: 69px;
  top: 203px;
  width: 23px;
  height: 33px;
  background-image: url(../img/p3cal.png);
  background-size: cover;
}
.p3text1{
  position: absolute;
  left: 678px;
  top: 172px;
  opacity: 0.8;
}
.p3text2{
  position: absolute;
  left: 876px;
  top: 212px;
  opacity: 0.8;
}
.japanline{
  position: absolute;
  left: 843px;
  top: 222px;
  width: 28px;
  height: 1px;
  background-color: #f0f0f0;
  opacity: 0.8;
}
.p3catext{
  position: absolute;
  left: 57px;
  top: 239px;
  color: #019bd1;
}
.p3sktext{
  position: absolute;
  left: 775px;
  top: 230px;
  width: 100px;
  color: #f46432;
}
.p3maintext{
  position: absolute;
  left: 50%;
  margin-left: -185px;
  top: 498px;
  width: 370px;
  height: 95px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

.p3cim1{
  left: 388px;
  top: 484px;
}
.p3cim2{
  left: 622px;
  top: 464px;
}
.p3t1{
  color: #f46432;
  font-weight: 800;
}
.p3t2{
  color: #019bd1;
  font-weight: 800;
}
.p3t3{
  font-weight: 800;
}

/*page4////////////////////////////////////////*/

.frame1{
  position: absolute;
  top: 2040px;
  left: 50%;
  margin-left: -512px;
  height: 680px;
  width: 1024px;
  background-color: #2d2d2d;
}
.msimg1 {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -290px;
  width: 632px;
  height: 643px;
  background-image: url(../img/kmap.png);
  background-size: cover;
  opacity: 0.3;
}


/*timline*/
.timeline{
  position: absolute;
  top: 60px;
  left: 0px;
}
.longline{
  position: absolute;
  left: 75px;
  top: 53px;
  width: 1px;
  height: 420px;
  background-color: white;
  transform-origin: bottom;
  transform: scale(1,0);
}
.longlinemv{
  animation: longlineprss 2s forwards;
}
@keyframes longlineprss {
  0%{
    transform: scale(1,0);
  }
  100%{
    transform: scale(1,1);
  }
}
.timebox{
  position: absolute;
  left: 10px;
  top: 45px;
  width: 60px;
  line-height: 21px;
  font-size: 12px;
  color: #f0f0f0;
  text-align: right;
}


/*numbers*/
.n01,.n02,.n03,.n04,.n05,.n06,
.n07,.n08,.n09,.n10,.n11,.n12,
.n13,.n14,.n15,.n16,.n17,.n18,
.n19,.n20,.n21{
  display: none;
}

.sum1{
  position: absolute;
  top: 500px;
  left: 820px;
  line-height: 18px;
}
.totalwords{
  font-size: 12px;
  text-transform: uppercase;
}
.totaln0{
  font-size: 18px;
  color: #f46432;
}



/*fires*/
.fireintro{
  background-color: #f46432;
  border-radius: 50%;
  position: absolute;
}

.fireintromv{
  opacity: 0.08;
  animation: fireintroprss 2.5s forwards;
}
@keyframes fireintroprss {
  0%{
    transform: scale(0,0);
  }
  100%{
    transform: scale(1,1);
  }
}

.fire00{
  background-color: #f46432;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
}

.firea,.fireb,.firec,.fired,.firee,
.firecha6,.firecha7,.firecha8,.firecha9,.firecha10,
.firecha11,.firecha12,.firecha13,.firecha14,.firecha15,
.firecha16,.firecha17,.firecha18,.firecha19,
.firecha20,.firecha21{
  display: none;
}

.firea01{
  left: 438px;
  top: 132px;
  width: 23px;
  height: 23px;
}

.fireb01{
  left: 426px;
  top: 121px;
  width: 46px;
  height: 46px;
}

.firec01{
  left: 397px;
  top: 92px;
  width: 105px;
  height: 105px;
}



/*cha4*/
.fired01{
  left: 414px;
  top: 109px;
  width: 72px;
  height: 72px;
}
.fired02{
  /*부산*/
  left: 627px;
  top: 416px;
  width: 32px;
  height: 32px;
}
.fired03{
  /*광주*/
  left: 425px;
  top: 406px;
  width: 32px;
  height: 32px;
}
.fired04{
  /*대전*/
  left: 480px;
  top: 278px;
  width: 23px;
  height: 23px;
}
.fired05{
  /*대구*/
  left: 591px;
  top: 328px;
  width: 23px;
  height: 23px;
}
.fired06{
  /*수원*/
  left: 440px;
  top: 165px;
  width: 23px;
  height: 23px;
}
.fired07{
  /*춘천*/
  left: 512px;
  top: 96px;
  width: 18px;
  height: 18px;
}
.fired08{
  /*원주*/
  left: 532px;
  top: 157px;
  width: 18px;
  height: 18px;
}
.fired09{
  /*속초*/
  left: 593px;
  top: 57px;
  width: 18px;
  height: 18px;
}
.fired10{
  /*강릉*/
  left: 623px;
  top: 110px;
  width: 18px;
  height: 18px;
}
.fired11{
  /*포항*/
  left: 508px;
  top: 205px;
  width: 18px;
  height: 18px;
}
.fired12{
  left: 668px;
  top: 313px;
  width: 18px;
  height: 18px;
}
.fired13{
  left: 608px;
  top: 215px;
  width: 14px;
  height: 14px;
}
.fired14{
  left: 670px;
  top: 377px;
  width: 18px;
  height: 18px;
}
.fired15{
  left: 601px;
  top: 417px;
  width: 18px;
  height: 18px;
}
.fired16{
  /*여수*/
  left: 515px;
  top: 468px;
  width: 14px;
  height: 14px;
}
.fired17{
  /*제주*/
  left: 402px;
  top: 618px;
  width: 14px;
  height: 14px;
}
.fired18{
  /*전주*/
  left: 455px;
  top: 336px;
  width: 18px;
  height: 18px;
}
.fired19{
  /*cheonju*/
  left: 487px;
  top: 238px;
  width: 23px;
  height: 23px;
}
.fired20{
  /*화성*/
  left: 424px;
  top: 171px;
  width: 18px;
  height: 18px;
}
.fired21{
  /*목포*/
  left: 385px;
  top: 460px;
  width: 14px;
  height: 14px;
}

/*cha5---------------*/
.firee01{
  left: 386px;
  top: 81px;
  width: 125px;
  height: 125px;
}
.firee02{
  /*busan*/
  left: 623px;
  top: 412px;
  width: 40px;
  height: 40px;
}
.firee03{
    /*광주*/
  left: 421px;
  top: 402px;
  width: 40px;
  height: 40px;
}
.firee04{
    /*대구*/
  left: 594px;
  top: 331px;
  width: 18px;
  height: 18px;
}
.firee05{
    /*춘천*/
  left: 514px;
  top: 98px;
  width: 14px;
  height: 14px;
}
.firee06{
    /*울산*/
  left: 663px;
  top: 370px;
  width: 14px;
  height: 14px;
}
.firee07{
    /*창원*/
  left: 592px;
  top: 408px;
  width: 18px;
  height: 18px;
}
.firee08{
  /*여수*/
  left: 515px;
  top: 468px;
  width: 14px;
  height: 14px;
}
.firee09{
  /*제주*/
  left: 402px;
  top: 618px;
  width: 14px;
  height: 14px;
}

.firecha601{
  left: 378px;
  top: 73px;
  width: 142px;
  height: 142px;
}
.firecha602{
  /*busan*/
  left: 620px;
  top: 409px;
  width: 46px;
  height: 46px;
}
.firecha603{
  /*광주*/
  left: 421px;
  top: 402px;
  width: 40px;
  height: 40px;
}
.firecha604{
  /*대전*/
  left: 480px;
  top: 278px;
  width: 23px;
  height: 23px;
}
.firecha605{
  /*대gu*/
  left: 591px;
  top: 328px;
  width: 23px;
  height: 23px;
}
.firecha606{
  /*춘천*/
  left: 512px;
  top: 96px;
  width: 18px;
  height: 18px;
}
.firecha607{
  /*청주*/
  left: 487px;
  top: 238px;
  width: 23px;
  height: 23px;
}
.firecha608{
  /*포항*/
  left: 508px;
  top: 205px;
  width: 18px;
  height: 18px;
}
.firecha609{
  /*울산*/
  left: 661px;
  top: 368px;
  width: 18px;
  height: 18px;
}
.firecha610{
  /*창원*/
  left: 592px;
  top: 408px;
  width: 18px;
  height: 18px;
}
.firecha611{
  /*목포*/
  left: 385px;
  top: 460px;
  width: 14px;
  height: 14px;
}
.firecha611{
  /*전주*/
  left: 455px;
  top: 336px;
  width: 18px;
  height: 18px;
}
.firecha612{
  /*제주*/
  left: 402px;
  top: 618px;
  width: 14px;
  height: 14px;
}

.firecha701{
  left: 404px;
  top: 99px;
  width: 92px;
  height: 92px;
}
.firecha702{
  /*인천*/
  left: 408px;
  top: 146px;
  width: 14px;
  height: 14px;
}
.firecha703{
  /*부산*/
  left: 627px;
  top: 416px;
  width: 32px;
  height: 32px;
}
.firecha704{
    /*광주*/
  left: 429px;
  top: 410px;
  width: 23px;
  height: 23px;
}
.firecha705{
  /*대전*/
  left: 484px;
  top: 282px;
  width: 14px;
  height: 14px;
}
.firecha706{
  /*대구*/
  left: 596px;
  top: 333px;
  width: 14px;
  height: 14px;
}
.firecha707{
  /*춘천*/
  left: 514px;
  top: 98px;
  width: 14px;
  height: 14px;
}
.firecha708{
  /*속초*/
  left: 595px;
  top: 59px;
  width: 14px;
  height: 14px;
}
.firecha709{
  /*강릉*/
  left: 625px;
  top: 112px;
  width: 14px;
  height: 14px;
}
.firecha710{
  /*원주*/
  left: 534px;
  top: 159px;
  width: 14px;
  height: 14px;
}
.firecha711{
  /*청주*/
  left: 491px;
  top: 242px;
  width: 14px;
  height: 14px;
}
.firecha712{
    /*울산*/
  left: 663px;
  top: 370px;
  width: 14px;
  height: 14px;
}
.firecha713{
    /*창원*/
  left: 594px;
  top: 410px;
  width: 14px;
  height: 14px;
}
.firecha714{
  /*여수*/
  left: 515px;
  top: 468px;
  width: 14px;
  height: 14px;
}
.firecha715{
  /*제주*/
  left: 402px;
  top: 618px;
  width: 14px;
  height: 14px;
}



.firecha801{
  top: 104px;
  left: 409px;
  width: 82px;
  height: 82px;
}
.firecha802{
  /*부산*/
  left: 636px;
  top: 425px;
  width: 14px;
  height: 14px;
}
.firecha803{
  /*광주*/
  left: 429px;
  top: 410px;
  width: 23px;
  height: 23px;
}
.firecha804{
  /*대전*/
  left: 484px;
  top: 282px;
  width: 14px;
  height: 14px;
}
.firecha805{
  /*대구*/
  left: 596px;
  top: 333px;
  width: 14px;
  height: 14px;
}
.firecha806{
  /*춘천*/
  left: 514px;
  top: 98px;
  width: 14px;
  height: 14px;
}
.firecha807{
  /*원주*/
  left: 534px;
  top: 159px;
  width: 14px;
  height: 14px;
}
.firecha808{
  /*청주*/
  left: 491px;
  top: 242px;
  width: 14px;
  height: 14px;
}
.firecha809{
  /*울산*/
  left: 663px;
  top: 370px;
  width: 14px;
  height: 14px;
}
.firecha810{
    /*창원*/
  left: 594px;
  top: 410px;
  width: 14px;
  height: 14px;
}
.firecha811{
  /*목포*/
  left: 385px;
  top: 460px;
  width: 14px;
  height: 14px;
}
.firecha812{
  /*전주*/
  left: 455px;
  top: 336px;
  width: 18px;
  height: 18px;
}
.firecha813{
  /*제주*/
  left: 402px;
  top: 618px;
  width: 14px;
  height: 14px;
}

.firecha901{
  left: 410px;
  top: 105px;
  width: 80px;
  height: 80px;
}

.firecha902{
  /*부산*/
  left: 636px;
  top: 425px;
  width: 14px;
  height: 14px;
}
.firecha903{
  /*울산*/
  left: 663px;
  top: 370px;
  width: 14px;
  height: 14px;
}


.firecha1001{
  left: 399px;
  top: 94px;
  width: 102px;
  height: 102px;
}
.firecha1002{
  left: 434px;
  top: 415px;
  width: 14px;
  height: 14px;
}
.firecha1003{
  /*대구*/
  left: 596px;
  top: 333px;
  width: 14px;
  height: 14px;
}
.firecha1004{
  /*여수*/
  left: 515px;
  top: 468px;
  width: 14px;
  height: 14px;
}

.firecha1101{
  left: 410px;
  top: 105px;
  width: 80px;
  height: 80px;
}
.firecha1102{
  /*부산*/
  left: 636px;
  top: 425px;
  width: 14px;
  height: 14px;
}
.firecha1103{
  /*광주*/
  left: 429px;
  top: 410px;
  width: 23px;
  height: 23px;
}
.firecha1104{
  /*대전*/
  left: 484px;
  top: 282px;
  width: 14px;
  height: 14px;
}
.firecha1105{
  /*대구*/
  left: 596px;
  top: 333px;
  width: 14px;
  height: 14px;
}
.firecha1106{
  /*춘천*/
  left: 514px;
  top: 98px;
  width: 14px;
  height: 14px;
}
.firecha1107{
  /*강릉*/
  left: 625px;
  top: 112px;
  width: 14px;
  height: 14px;
}
.firecha1108{
  /*원주*/
  left: 534px;
  top: 159px;
  width: 14px;
  height: 14px;
}
.firecha1109{
  /*청주*/
  left: 491px;
  top: 242px;
  width: 14px;
  height: 14px;

}
.firecha1114{
  /*안동*/
  left: 615px;
  top: 258px;
  width: 14px;
  height: 14px;
}
.firecha1110{
    /*울산*/
  left: 663px;
  top: 370px;
  width: 14px;
  height: 14px;
}
.firecha1111{
    /*창원*/
  left: 594px;
  top: 410px;
  width: 14px;
  height: 14px;
}
.firecha1112{
    /*군포*/
  left: 416px;
  top: 318px;
  width: 14px;
  height: 14px;
}
.firecha1113{
  /*제주*/
  left: 402px;
  top: 618px;
  width: 14px;
  height: 14px;
}


.firecha1201{
  left: 430px;
  top: 125px;
  width: 40px;
  height: 40px;
}
.firecha1202{
  /*대구*/
  left: 596px;
  top: 333px;
  width: 14px;
  height: 14px;
}
.firecha1203{
  /*울산*/
  left: 663px;
  top: 370px;
  width: 14px;
  height: 14px;
}

.firecha1301{
  left: 422px;
  top: 117px;
  width: 56px;
  height: 56px;
}
.firecha1302{
  /*부산*/
  left: 636px;
  top: 425px;
  width: 14px;
  height: 14px;
}
.firecha1303{
  /*대구*/
  left: 596px;
  top: 333px;
  width: 14px;
  height: 14px;
}
.firecha1304{
  /*원주*/
  left: 534px;
  top: 159px;
  width: 14px;
  height: 14px;
}
.firecha1305{
    /*울산*/
  left: 663px;
  top: 370px;
  width: 14px;
  height: 14px;
}
.firecha1306{
  /*전주*/
  left: 455px;
  top: 336px;
  width: 18px;
  height: 18px;
}
.firecha1307{
  /*제주*/
  left: 402px;
  top: 618px;
  width: 14px;
  height: 14px;
}

.firecha1501{
  left: 416px;
  top: 111px;
  width: 68px;
  height: 68px;
}
.firecha1502{
  /*부산*/
  left: 636px;
  top: 425px;
  width: 14px;
  height: 14px;
}
.firecha1503{
  /*광주*/
  left: 429px;
  top: 410px;
  width: 23px;
  height: 23px;
}
.firecha1504{
  /*대구*/
  left: 596px;
  top: 333px;
  width: 14px;
  height: 14px;
}
.firecha1505{
  /*원주*/
  left: 534px;
  top: 159px;
  width: 14px;
  height: 14px;
}
.firecha1506{
  /*울산*/
  left: 663px;
  top: 370px;
  width: 14px;
  height: 14px;
}

.firecha1601{
  left: 406px;
  top: 101px;
  width: 88px;
  height: 88px;
}
.firecha1602{
  /*부산*/
  left: 636px;
  top: 425px;
  width: 14px;
  height: 14px;
}
.firecha1603{
    /*울산*/
  left: 663px;
  top: 370px;
  width: 14px;
  height: 14px;
}


.firecha1701{
  left: 404px;
  top: 99px;
  width: 92px;
  height: 92px;
}
.firecha1702{
  /*부산*/
  left: 636px;
  top: 425px;
  width: 14px;
  height: 14px;
}
.firecha1703{
  /*춘천*/
  left: 514px;
  top: 98px;
  width: 14px;
  height: 14px;
}

.firecha1801{
  left: 398px;
  top: 93px;
  width: 104px;
  height: 104px;
}
.firecha1802{
  /*부산*/
  left: 636px;
  top: 425px;
  width: 14px;
  height: 14px;
}
.firecha1803{
  /*광주*/
  left: 429px;
  top: 410px;
  width: 23px;
  height: 23px;
}
.firecha1804{
  /*대구*/
  left: 596px;
  top: 333px;
  width: 14px;
  height: 14px;
}
.firecha1805{
    /*창원*/
  left: 594px;
  top: 410px;
  width: 14px;
  height: 14px;
}

.firecha1901{
  left: 422px;
  top: 117px;
  width: 56px;
  height: 56px;
}

.firecha2001{
  left: 399px;
  top: 94px;
  width: 102px;
  height: 102px;
}
.firecha2002{
  /*부산*/
  left: 636px;
  top: 425px;
  width: 14px;
  height: 14px;
}
.firecha2003{
  /*광주*/
  left: 429px;
  top: 410px;
  width: 23px;
  height: 23px;
}
.firecha2004{
    /*창원*/
  left: 594px;
  top: 410px;
  width: 14px;
  height: 14px;
}
.firecha2005{
  /*제주*/
  left: 402px;
  top: 618px;
  width: 14px;
  height: 14px;
}
.firecha2101{
  left: 407px;
  top: 102px;
  width: 86px;
  height: 86px;
}



.firemv{
  display: block;
  animation: fireprss 0.7s forwards;
  transform-origin: center;
  transform: scale(0,0);
}

@keyframes fireprss {
  0%{
    transform: scale(0,0);
  }
  100%{
    transform: scale(1,1);
  }
}

/*mapdots*/

.alldot{
  position: absolute;
  top: 4px;
}
.dot0{
  position: absolute;
  width: 5px;
  height: 5px;
  left: 73px;
  border-radius: 50%;
  background-color: #f0f0f0;

}
.cha0,.dot0{
  cursor: pointer;
}
.orangedot{
  background-color: #f46432;
}
.orangetext{
  color: #f46432;
}
.dot1{
  top: 49px;
}

.dot2{
  top: 70px;
}
.dot3{
  top: 91px;
}
.dot4{
  top: 112px;
}
.dot5{
  top: 133px;
}
.dot6{
  top: 154px;
}
.dot7{
  top: 175px;
}
.dot8{
  top: 196px;
}
.dot9{
  top: 217px;
}
.dot10{
  top: 238px;
}
.dot11{
  top: 259px;
}
.dot12{
  top: 280px;
}
.dot13{
  top: 301px;
}
.dot14{
  top: 322px;
}
.dot15{
  top: 343px;
}
.dot16{
  top: 364px;
}
.dot17{
  top: 385px;
}
.dot18{
  top: 406px;
}
.dot19{
  top: 427px;
}
.dot20{
  top: 448px;
}
.dot21{
  top: 469px;
}
.forclickbox{
  position: absolute;
  top: -8px;
  left: -54px;
  width: 59px;
  height: 21px;
  background-color: #2d2d2d;
  opacity: 0.01;
}



.boxdot0{
  width: 120px;
  height: 36px;
  position: absolute;
  font-size: 12px;
  text-align: center;
  line-height: 11px;
}
.mdot0{
  position: absolute;
  left: 58px;
  top: 16px;
  width: 4px;
  height: 4px;
  background-color: #f0f0f0;
}
.mdot0s{
  top: 20px;
}

.seoul{
  left: 389px;
  top: 123px;
  line-height: 13px;
}

.chuncheon{
  left: 461px;
  top: 87px;
}

.sokcho{
  left: 542px;
  top: 48px;
}

.gangneung{
  left: 572px;
  top: 101px;
}

.wonju{
  left: 481px;
  top: 148px;
}

.cheonju{
  left: 439px;
  top: 232px;
}

.daejeon{
  left: 431px;
  top: 272px;
}

.jeonju{
  left: 404px;
  top: 327px;
}

.gwangju{
  left: 381px;
  top: 404px;
}

.busan{
  left: 583px;
  top: 414px;
}

.daegu{
  left: 543px;
  top: 322px;
}

.jeju{
  left: 349px;
  top: 607px;
}



.p4tb0{
  position: absolute;
  font-size: 12px;
  color: #f46432;
  line-height: 15px;
  display: none;
}
.p4tb1{
  left: 85px;
  top: 212px;
  width: 210px;
}
.p4tb2{
  left: 85px;
  top: 233px;
  width: 210px;
}
.p4tb3{
  left: 85px;
  top: 296px;
  width: 210px;
}
.p4tb4{
  left: 85px;
  top: 380px;
  width: 210px;
  color: #fef397;
}
.p4tb5{
  left: 85px;
  top: 528px;
  width: 210px;
}

.resourcecheck{
  position: absolute;
  right: 0%;
  bottom: 2%;
  text-align: right;
  font-size: 10px;
  opacity: 0.6;
}

.lunatext{
  color: #fef397;
}
.lunaback{
  background-color: #fef397;
}
